﻿@model List<Cinema.DataModels.Producer>
@{
    ViewData["Title"] = "_ProducerSelector";
}

<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script language="javascript" type="text/javascript">
    $(document).on("click", "[type='checkbox']", function (e) {
        if (this.checked) {
            $(this).attr("value", "true");
        } else {
            $(this).attr("value", "false");
        }
    });
</script>

@for (int i = 0; i < Model.Count(); ++i)
{
    var name = "Producers[" + i + "].Selected";
    var name2 = "Producers[" + i + "].Id";
    <input type="checkbox" @(Model[i].Selected ? "checked" : "") name="@name" value="@Model[i].Selected" />
    <input type="hidden" name="@name2" value="@Model[i].Id" />
    <label>@Model[i].Name</label>
}

@*
@foreach (var producer in Model)
{
    <option value="@producer.Id">@producer.Name</option>
}
    *@

