﻿@model Cinema.DataModels.Movie
@{
    ViewData["Title"] = "EditMovie";
}


<link href="~/css/EditComponents.css" rel="stylesheet" type="text/css" />

<form action="" method="post">
    <div>
        @* @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Producers)
            *@
        <div>
            <label class="edit-label">Name:</label>
            <textarea asp-for="Name" class="edit-component" style="font-size:large;height:30px;">@Model.Name</textarea>
            <span class="edit-component" asp-validation-for="Name"></span>
        </div>
        <div>
            <label class="edit-label">Country:</label>
            <textarea asp-for="Country" class="edit-component" style="font-size:large;height:30px;">@Model.Country</textarea>
        </div>
        <div>
            <label class="edit-label">Release date:</label>
            <textarea name="Date" class="edit-component" style="font-size:large;height:30px;">@Model.ReleaseDate.ToString().Substring(0, 10)</textarea>
            <span class="edit-component" asp-validation-for="Date"></span>
        </div>
        <div>
            <label class="edit-label">Price:</label>
            <textarea asp-for="Price" class="edit-component" style="font-size:large;height:30px;">@Model.Price</textarea>
            <span class="edit-component" asp-validation-for="Price"></span>
        </div>
        <div>
            <label class="edit-label">Duration:</label>
            <textarea asp-for="Duration" class="edit-component" style="font-size:large;height:30px;">@Model.Duration.ToString()</textarea>
            <span class="edit-component" asp-validation-for="Duration"></span>
        </div>
        <div>
            <label>Producer:</label>
            <div>
                @await Component.InvokeAsync("ProducerSelector", new { movieProducers = Model.Producers })
            </div>
        </div>
        <div>
            <label>Genre:</label>
            <div>
                @await Component.InvokeAsync("GenreSelector", new {movieGenres = Model.Genres })
            </div>
            </div>
    </div>
    <div>
        <button class="btn btn-success" type="submit" style="margin:30px" formaction="/movie/save">Save</button>
        <button class="btn btn-danger" type="submit" style="margin:30px" formaction="/movie/delete">Delete</button>
        <button class="btn btn-default" type="submit" style="margin:30px" formaction="/movie/cancel">Cancel</button>
    </div>
</form>


