﻿@model List<Cinema.DataModels.Movie>
@{
    ViewData["Title"] = "MovieList";
}



<table style="width:100%">
    <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Release Date</th>
        <th>Genre</th>
        <th>Producer</th>
        <th>Duration</th>
    </tr>

    @foreach (var movie in Model)
    {
        <tr>
            <th>@movie.Name</th>
            <th>@movie.Country</th>
            <th>@movie.ReleaseDate.ToString().Substring(0, 10)</th>
            <th>@string.Join(",", movie?.Genres.Select(x => x.Name))</th>
            <th>@string.Join(",", movie.Producers?.Select(x => x.Name))</th>
            <th>@movie.Duration min.</th>
            <th>
                <a class="btn btn-default" asp-action="SearchByFilm" asp-controller="Session" asp-route-movieid="@movie.Id">Sessions</a>
            </th>
            @if (ViewBag.IsAdmin)
            {
                <th>
                    <a class="btn btn-default" asp-action="Add" asp-controller="Session" asp-route-movieid="@movie.Id">Add session</a>
                    <a class="btn btn-default" asp-action="Edit" asp-controller="Movie" asp-route-movieid="@movie.Id">Edit movie</a>
                </th>
            }
        </tr>
    }
</table>

