﻿@model Cinema.Models.SearchMoviesModel
@{
    ViewData["Title"] = "SearchMovies";
}

<link href="~/css/Shared.css" rel="stylesheet" type="text/css" />
<link href="~/css/SearchPostsFields.css" rel="stylesheet" type="text/css" />

<form asp-controller="Movie" asp-action="Search" method="post" id="SearchForm">
    <div class="search-div">
        <label class="search-label">Name:</label>
        <input asp-for="NameFirstLetters" />
    </div>
    <div>
        <label class="search-label">Genre:</label>
        <div class="search-div">
            <select asp-for="GenreId">
                @await Component.InvokeAsync("GenreSel")
            </select>
        </div>
    </div>
    <div>
        <label class="search-label">Producer:</label>
        <div class="search-div">
            <select asp-for="ProducerId">
                @await Component.InvokeAsync("ProducerSel")
            </select>
        </div>
    </div>
    <div>
        <button class="btn btn-success" style="margin:20px;" type="submit">Search</button>
    </div>
</form>

