﻿@model List<Cinema.DataModels.Place>
@{
    ViewData["Title"] = "_RowAndPlaceSelector";
}

@foreach(var place in Model)
{
    <option value="@place.Id">Row: @place.Row Place: @place.PlaceNumber</option>
}


