﻿@model List<Cinema.DataModels.Subscription>
@{
    ViewData["Title"] = "_SubscriptionSelector";
}

@foreach (var subscr in Model)
{
    @if (subscr.Id == 0)
    {
        <option value="@subscr.Id">None</option>
    }
    else
    {
        <option value="@subscr.Id">@subscr.Balance @subscr.Price</option>
    }

}

