﻿@model Cinema.DataModels.Ticket
@{
    ViewData["Title"] = "PurchaseTicket";
}

@*<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script language="javascript" type="text/javascript">
    //$(document).ready(function () {
    //    $("#TicketForm").submit(function (eventObj) {

    //        var rowAndPlace = document.getElementById('RowPlaceSelector').nodeValue
    //        var res = rowAndPlace.split(" ");
    //        addRowAndPlaceToForm(res[0], res[1])
    //        return true;
    //    });
    //}

    //function addRowAndPlaceToForm(row, place) {

    //    $("#TicketForm").append(
    //        '<input type="hidden" name="Row" value="' + row + '"/>' +
    //        '<input type="hidden" name="Place" value="' + place + '"/>');
    //};

</script>*@

<link href="~/css/EditComponents.css" rel="stylesheet" type="text/css" />

<form action="" method="post" id="TicketForm">
    <div>
        @Html.HiddenFor(m => m.FK_SessionID)
        <div style="margin:10px;">
            <label>Choose subscription</label>
            <select asp-for="FK_SubscriptionId">
                @await Component.InvokeAsync("SubscriptionSelector", new { userid = ViewBag.userid })
            </select>
        </div>

        <div>
            <label>Choose place</label>
            <select asp-for="FK_PlaceID">
                @await Component.InvokeAsync("RowAndPlaceSelector", new { sessionid = Model.FK_SessionID })
            </select>
        </div>
    </div>
    <div>
        <button class="btn btn-success" type="submit" style="margin:30px" formaction="/ticket/save">Save</button>
        <button class="btn btn-default" type="submit" style="margin:30px" formaction="/ticket/cancel">Cancel</button>
    </div>
</form>