﻿@using Microsoft.AspNetCore.Identity
@using Cinema.DataModels;

@*@inject SignInManager<User> SignInManager*@

@*@if (SignInManager.IsSignedIn(User))*@
@if (User.Identity.IsAuthenticated)
{<form asp-action="Logout" asp-controller="UserAccount" method="post" id="logoutForm" class="navbar-right">
     <ul class="nav navbar-nav navbar-right">
         <li>
             <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
         </li>
         
     </ul>

    </form>

 <ul class="nav navbar-nav navbar-left">
     <li><a class="btn btn-link navbar-btn navbar-link" asp-action="MyAccount" asp-controller="UserAccount">My account</a></li>
     <li><a class="btn btn-link navbar-btn navbar-link" asp-action="Search" asp-controller="Movie">Search movies</a></li>
     <li><a class="btn btn-link navbar-btn navbar-link" asp-action="Search" asp-controller="Session">Search sessions</a></li>
     @if (User.HasClaim("AccessType", "Admin"))
     {
         <li><a class="btn btn-link navbar-btn navbar-link" asp-action="Manage" asp-controller="Subscription">Manage subscriptions</a></li>
         <li><a class="btn btn-link navbar-btn navbar-link" asp-action="Create" asp-controller="Movie">Add movie</a></li>
     }

 </ul>

}
else
{
<ul class="nav navbar-nav navbar-right">
    <li><a asp-action="Register" asp-controller="UserAccount">Register</a></li>
    <li><a asp-action="Login" asp-controller="UserAccount">Login</a></li>
</ul>
}


