﻿@model Cinema.DataModels.Session
@{
    ViewData["Title"] = "AddSession";
}
<link href="~/css/EditComponents.css" rel="stylesheet" type="text/css" />

<form action="" method="post">
    <div>
        @Html.HiddenFor(m => m.MovieId)
        <div>
            <label class="edit-label">Date and time:</label>
            <textarea asp-for="StartTime" class="edit-component" style="font-size:large;height:100px;"></textarea>
            <span class="edit-component" asp-validation-for="StartTime"></span>
        </div>

        <div>
            <label class="edit-label">Hall:</label>
            <select asp-for="FK_HallId">
                @await Component.InvokeAsync("HallSelector")
            </select>
        </div>
    </div>
    <div>
        <button class="btn btn-success" type="submit" style="margin:30px" formaction="/session/save">Save</button>
        <button class="btn btn-default" type="submit" style="margin:30px" formaction="/session/cancel">Cancel</button>
    </div>
</form>

