﻿@model Cinema.Models.SearchSessionsModel
@{
    ViewData["Title"] = "SearchSessions";
}

<link href="~/css/Shared.css" rel="stylesheet" type="text/css" />
<link href="~/css/SearchPostsFields.css" rel="stylesheet" type="text/css" />
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script language="javascript" type="text/javascript">
    //function Search() {
    //    var value = document.getElementById('DateInput').value;
    //    $.post("/session/search?date=" + value, function (template) {
    //        $("#sessions").html(template);
    //    });
    //};
</script>

<form method="post" asp-controller="Session" asp-action="Search">
<div class="search-div">
    <label class="search-label">Date:</label>
    <input id="DateInput" name="Date"/>
</div>

<div class="search-div">
    <button class="btn btn-success">Search</button>
</div>
    </form>

@*<div id="sessions">
    @{ Html.RenderPartial("SessionList", Model.Sessions); }
</div>*@

