﻿@model List<Cinema.DataModels.Session>
@{
    ViewData["Title"] = "SessionList";
}

<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script language="javascript" type="text/javascript">
    function deleteSession(id) {
        $.post("/session/delete?sessionid=" + id);
        var session = document.getElementById("session" + id);
        session.parentNode.removeChild(session);
    };
</script>

<table style="width:100%">
    <a class="btn btn-default" asp-controller="Movie" asp-action="Search">Back</a>
    <tr>
        <th>Movie Name</th>
        <th>Dueation</th>
        <th>Date and time</th>
    </tr>

    @foreach (var session in Model)
    {
        var id = "session" + session.Id;
        <tr id="@id">
            <th>@session.MovieName</th>
            <th>@session.Duration min.</th>
            <th>@session.StartTime.ToString()</th>

            @if (ViewBag.IsAdmin)
            {
                <th>
                    <button class="btn btn-default" onclick="deleteSession(@session.Id)">Delete</button>
                </th>
            }
            else if(session.StartTime >= DateTime.Now)
            {
                <th>
                    <a class="btn btn-default" asp-action="BuyTicket" asp-controller="Ticket" asp-route-sessionid="@session.Id">Buy Ticket</a>
                </th>
            }
        </tr>
    }
   
</table>


