﻿@model Cinema.DataModels.User
@{
    ViewData["Title"] = "EditUser";
}

<link href="~/css/EditComponents.css" rel="stylesheet" type="text/css" />
<form action="" method="post">
    <div>
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Password)
        @Html.HiddenFor(m => m.UserName)
        @*<div>
            <label class="edit-label">User Name:</label>
            <textarea asp-for="UserName" class="edit-component" style="font-size:large;height:100px;">@Model.UserName</textarea>
        </div>*@
        <div>
            <label class="edit-label">First name:</label>
            <textarea asp-for="FirstName" class="edit-component" style="font-size:large;height:30px;">@Model.FirstName</textarea>
        </div>
        <div>
            <label class="edit-label">Last name:</label>
            <textarea asp-for="LastName" class="edit-component" style="font-size:large;height:30px;">@Model.LastName</textarea>
        </div>

        <div>
            <label class="edit-label">Current password:</label>
            <textarea name="CurrentPassword" class="edit-component" style="font-size:large;height:30px;"></textarea>
        </div>

        <div>
            <label class="edit-label">Password:</label>
            <textarea name="NewPassword" class="edit-component" style="font-size:large;height:30px;"></textarea>
        </div>

        <span asp-validation-for="Password"></span>

    </div>
    <div>
        <button class="btn btn-success" type="submit" style="margin:30px" formaction="/useraccount/save">Save</button>
        <button class="btn btn-default" type="submit" style="margin:30px" formaction="/useraccount/cancel">Cancel</button>
    </div>
</form>

