﻿@model Cinema.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}


<form method="post" asp-controller="UserAccount" asp-action="Login">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label for="username">Username</label><br />
        <input asp-for="Username" name="username"/>
    </div>
    <div>
        <label for="password">Password</label><br />
        <input asp-for="Password" name="password"/>
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label for="remember_me">Remember me</label>
        <input asp-for="RememberMe" name="remember_me"/>
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>
</form>


