﻿@model Cinema.Models.RegisterViewModel

@{
    ViewData["Title"] = "Registration";
    Layout = "_Layout";
}

<form method="post" asp-controller="UserAccount" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label for="username">Username</label><br />
        <input asp-for="Username" name="username"/>
    </div>
    <div>
        <label for="password">Password</label><br />
        <input asp-for="Password" name="password"/>
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm"/>
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div>
        <label>With admin permissions</label>
        @Html.CheckBoxFor(m => m.Admin)
    </div>
    <div>
        <input type="submit" value="Register" />
    </div>
</form>

