﻿@model Cinema.Models.UserAccount
@{
    ViewData["Title"] = "UserAccount";
}

@*<link href="../../wwwroot/css/Shared.css" rel="stylesheet" type="text/css" />
<link href="../../wwwroot/css/SearchPostsFields.css" rel="stylesheet" type="text/css" />
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script language="javascript" type="text/javascript">
    function deleteTicket(id) {
        $.post("/ticket/delete?ticketid=" + id);
        var ticket = document.getElementById("ticket" + id);
        ticket.parentNode.removeChild(ticket);
    };

    function deleteSubscr(id) {
        $.post("/subscription/return?subscrid=" + id);
        var ticket = document.getElementById("subscr" + id);
        ticket.parentNode.removeChild(ticket);
    };
</script>
    *@

<div>
    @if (Model.UserModel.AccountStatus == 0)
    {
        <div class="search-div">
            <label class="search-label">Account status:</label>
            <label class="search-label">Deactivated</label>
        </div>

    }
    @{
        var accessType = Model.UserModel.AccessType == 0 ? "Admin" : "Customer";
        <div class="search-div">
            <label class="search-label">Access type:</label>
            <label class="search-label">@accessType</label>
        </div>
    }
    <div class="search-div">
        <label class="search-label">User Name:</label>
        <label class="search-label">@Model.UserModel.UserName</label>
    </div>
    <div class="search-div">
        <label class="search-label">First name:</label>
        <label class="search-label">@Model.UserModel.FirstName</label>
    </div>
    <div class="search-div">
        <label class="search-label">Last name:</label>
        <label class="search-label">@Model.UserModel.LastName</label>
    </div>

    <form method="get" action="">
        <input type="hidden" name="userid" value="@Model.UserModel.Id"/>
        @if (Model.IsCurrentUserAccount)
        {@*<div class="search-div">
            <button class="btn btn-danger" type="submit" style="margin:30px" formaction="/useraccount/delete">Delete account</button>
        </div>*@
        <div class="search-div">
            <button class="btn btn-default" type="submit" style="margin:30px" formaction="/useraccount/edit">Edit account</button>
        </div>
        @if (!ViewBag.IsAdmin)
        {<div class="search-div">
            <button class="btn btn-success" type="submit" style="margin:30px" formaction="/subscription/purchase">Purchase subscription</button>
        </div>}
        }
        @if (Model.IsCurrentUserAccount || ViewBag.IsAdmin)
        {
        @*<div class="search-div">
            <button class="btn btn-default" type="submit" style="margin:30px" formaction="/log">History</button>
        </div>*@
        }
    </form>
    @if (!ViewBag.IsAdmin)
    {<h2>TICKETS</h2>
    <table style="width:100%">
        <tr>
            <th>Movie Name</th>
            <th>Date and time</th>
            <th>Row and place</th>
            <th>Price</th>
        </tr>

        @foreach (var ticket in Model.Tickets)
        {
            var id = "ticket" + ticket.Id;
            <tr id="@id">
                <th>@ticket.MovieName</th>
                <th>@ticket.StartDate.ToString()</th>
                <th>Row @ticket.Row Place @ticket.Place</th>
                <th>@ticket.Price</th>

                @if (Model.IsCurrentUserAccount)
                {
                    <th>
                        <button class="btn btn-default" onclick="deleteTicket(@ticket.Id)">Return</button>
                    </th>
                }

            </tr>
        }
    </table>

    <h2>SUBSCRIPTIONS</h2>
    <table style="width:100%">
        <tr>
            <th>Left sessions amount</th>
            <th>Price</th>
            <th>Sessions amount</th>
        </tr>

        @foreach (var subscr in Model.Subscriptions)
        {
            var id = "subscr" + subscr.Id;
            <tr id="@id">
                <th>@subscr.Balance</th>
                <th>@subscr.Price</th>
                <th>@subscr.AllSessionsAmount</th>

                @if (Model.IsCurrentUserAccount)
                {
                    <th>
                        <button class="btn btn-default" onclick="deleteSubscr(@subscr.Id)">Return</button>
                    </th>
                }

            </tr>
        }
    </table>
    }
</div>


