﻿.edit-component {
    width:1100px;
    margin:40px;
    display: block;
}

.edit-label{
    display: block;
    font-size:x-large;
    margin-left:40px;
    color:indigo;
}

.edit-button{
    margin:30px;
    width: 60px;
    font-size:large;
}

.comment {
    width: 900px;
    height: 300px;
}

.delete-tag-button {
    height : 30px;
    width : 30px;
    background-color : red;
    color : white;
}
