﻿.card {
    height: auto;
    width: 1100px;
}

.user {
    border: solid;
    border-color: darkslateblue;
    height: 130px;
    width: 130px;
    padding: 2px 2px 2px 2px;
    text-align: center;
    background-color:beige;
}

.content {
    height: 200px;
    width: calc(100% - 200px);
    margin: 20px;    
}

.title {
    width: calc(100% - 200px);
    height: 40px;
    text-decoration: none;
    font-size: large;
    
}

.text {
    height: 110px;
    width: inherit;
    font-size: small;
    text-overflow: ellipsis;
    margin: 20px;
}

.sidebar {
    float: left;
    height: 160px;
    width: 130px;
    margin: 20px;
}

.date {
    color: gray;
    font-size: xx-small;
    text-align:center;
}

.sidebar-info {
    color: black;
    text-align: center;
    text-decoration:none;
    font-size: small;
}


