﻿@model List<Cinema.DataModels.SubscriptionType>
@{
    ViewData["Title"] = "_SubscriptionTypeSelector";
}

@foreach(var type in Model)
{
    <option value="@string.Join("#", type.Id, type.Price, type.SessionCount)">Price: @type.Price Sessions amount: @type.SessionCount </option>
}

