﻿@model Cinema.DataModels.SubscriptionType

<link href="~/css/EditComponents.css" rel="stylesheet" type="text/css" />

<form action="" method="post">
    <div>
        <div>
            <label class="edit-label">Price:</label>
            <textarea asp-for="Price" class="edit-component" style="font-size:large;height:100px;"></textarea>
        </div>

        <div>
            <label class="edit-label">Sessions amount:</label>
            <textarea asp-for="SessionCount" class="edit-component" style="font-size:large;height:100px;"></textarea>
        </div>
    </div>
    <div>
        <button class="btn btn-success" type="submit" style="margin:30px" formaction="/subscription/savetype">Save</button>
        <button class="btn btn-default" type="submit" style="margin:30px" formaction="/subscription/canceltype">Cancel</button>
    </div>
</form>
