﻿@model Cinema.DataModels.Subscription
@{
    ViewData["Title"] = "PurchaseSubscription";
}

<link href="~/css/Shared.css" rel="stylesheet" type="text/css" />
<link href="~/css/SearchPostsFields.css" rel="stylesheet" type="text/css" />

<form action="" method="post">
    <div>
        <div class="search-div">
            <select name="typeInfo">
                @await Component.InvokeAsync("SubscriptionTypeSelector")
            </select>
        </div>
    </div>
    <div>
        <button class="btn btn-success" type="submit" style="margin:30px" formaction="/subscription/save">Save</button>
        <button class="btn btn-default" type="submit" style="margin:30px" formaction="/subscription/cancel">Cancel</button>
    </div>
</form>


