﻿@model List<Cinema.DataModels.SubscriptionType>

<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script language="javascript" type="text/javascript">

    function deleteSubscr(id) {
        $.post("/subscription/deletetype?subscrid=" + id);
        var s = document.getElementById("subscr" + id);
        s.parentNode.removeChild(s);
    };
</script>

<table style="width:100%">
    <tr>
        <th>Price</th>
        <th>Sessions amount</th>
    </tr>

    @foreach (var type in Model)
    {
        var id = "subscr" + type.Id;
        <tr id="@id">
            <th>@type.Price</th>
            <th>@type.SessionCount</th>

            <th>
                <button class="btn btn-default"  onclick="deleteSubscr(@type.Id)">Delete type</button>
            </th>
        </tr>
    }

    <tr>
        <th>
            <a class="btn btn-default" asp-action="AddType" asp-controller="Subscription">Add type</a>
        </th>
    </tr>

</table>

